/*  */
.rosa{
  
  align-items:  center;
  margin-left:10rem ;
  height: 100%;
  width: 100%;
}
body{
  background-color: #2d1a9b;
}
.img{
  height: 10rem;
  width: 10rem;
  contain: content;
  border-radius: 50%;
  background-image: c ;
}